<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/proiecte</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="show_sql">true</property>
        <mapping class="model.domain.AlteMateriale"/>
        <mapping class="model.domain.Bd"/>
        <mapping resource="persistence.xml"/>
        <mapping class="model.domain.ChestionarFinal"/>
        <mapping class="model.domain.Client"/>
        <mapping class="model.domain.Proiect"/>
        <mapping class="model.domain.Propunere"/>
        <mapping class="model.domain.RaportFinal"/>
        <mapping class="model.domain.User"/>
        <mapping class="model.domain.UserRole"/>
        <mapping class="model.domain.Role"/>
        <mapping class="model.domain.Cod1"/>
        <mapping class="model.domain.Cod2"/>
        <mapping class="model.domain.Cod3"/>
        <mapping class="model.domain.EvidentaInventar"/>
        <mapping class="model.domain.Loc"/>
        <mapping class="model.domain.Persoana"/>
        <mapping class="model.domain.Articol"/>
        <mapping class="model.domain.Evidenta"/>
        <mapping class="model.domain.RaportInventar"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
