<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Shepherd</display-name>
    <filter>
        <filter-name>headisget</filter-name>
        <filter-class>
            configuration.filters.HttpHeadFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>headisget</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>proiect</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>
                org.springframework.web.context.support.AnnotationConfigWebApplicationContext
            </param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>configuration.AppConfig</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>proiect</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <error-page>
        <error-code>400</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>407</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>411</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>412</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>413</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>414</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>415</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>416</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>417</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>419</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>420</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>422</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>423</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>424</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>507</error-code>
        <location>/error</location>
    </error-page>

</web-app>
